<style lang="less">
    // @import "../../styles/index.less";
    // @import "../../styles/package.less";
</style>
<template>
    <div>
        <router-view></router-view>
    </div>
</template>
<script>
    module.exports = {
        data: function() {
            return {

            }
        },
        ready: function() {
            
        },
        beforeDestroy: function() {

        },
        methods: {
            
        }
    }
</script>
